/* Empty. Add your own CSS if you like */
.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    overflow-x: hidden;
}

.Tableau {
    line-height: 0;
    border-spacing: 0;
    background-color: black;
}

.Tableau img {
    display: block;
}

.Tableau td {
    padding: 0;
    opacity: 0.8;
    transition: 0.33s;
}

.Tableau td:hover {
    opacity: 1;
    cursor: pointer;
}

.drapeau {
    position: absolute;
}

img {
    user-select: none;
}

.winlost {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.red {
    background-color: red !important;
}

.case {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    background-color: #e1e2e3;
    transition: 1s;
}